* {
  margin: 0;
  padding: 0;
  font-family: 'News Cycle', sans-serif;
}


#test {
  background-color: red; /*initial state*/
  color: #ffffff;
  margin: 40px 5% 0px 5%;
  padding: 2em;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}